
<html>
<head>
<script>
	function navlist(){}
		
function newSubSampleForSample() {
	
	var ent = document.getElementById("SubSampleName").value;
	var id = document.getElementById("deleteSamplefield").value;
	var ent2 = document.getElementById("SubSampleDescription").value;
	var ent3 = document.getElementById("danger").value;
	var subSample = '{"name":"' + ent + '", "description" : "' + ent2 + '" , "danger" : "' + ent3 + '"}';
	console.log(experiment);
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = function() {
		if (this.readyState == 4 && this.status == 200) {
			listexperiment();
		}
	};
	xhttp.open("POST", "http://localhost:8082/addExperimentToProject/"+id, true);
	xhttp.setRequestHeader("Content-type", "application/json");
	xhttp.send(subSample);		
	}

	function newsExperimentForProject() {
	
	var ent = document.getElementById("experimentname").value;
	var id = document.getElementById("ProjectID").value;
	var ent2 = document.getElementById("experimentdescription").value;
	var experiment = '{"name":"' + ent + '", "description" : "' + ent2 + '" }';
	console.log(experiment);
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = function() {
		if (this.readyState == 4 && this.status == 200) {
			listexperiment();
		}
	};
	xhttp.open("POST", "http://localhost:8082/addExperimentToProject/"+id, true);
	xhttp.setRequestHeader("Content-type", "application/json");
	xhttp.send(experiment);		
	}
	function listexperiment() {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
			document.getElementById("experimentlist").innerHTML = "";
			console.log(this.responseText);
				var experiments = JSON.parse(this.responseText);
				experimentstotable(experiments);
			}
		};
		xhttp.open("GET", "http://localhost:8082/experimentlist");
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send();
	}
	function experimentstotable (experiments) {
		document.getElementById("experimentlist").innerHTML = document.getElementById("experimentlist").innerHTML
		+ "<Table><tr><th>ID</th><th>Name</th><th>Description</th><th>Project ID</th><th></th></tr>";
		for (i = 0; i < experiments.length; i++) {
			document.getElementById("experimentlist").innerHTML = document.getElementById("experimentlist").innerHTML
					+ "<tr><td>"
					+ experiments[i].id
					+ "</td><td>"
					+ experiments[i].name
					+ "</td><td>"
					+ experiments[i].description
					+ "</td><td>"
					+ experiments[i].project.id
					+ "</td><td>"
				
					+ "<input id='"+experiments[i].id+"' type='radio' name='sexperimentlistselector' onclick=\"handleExperimentClick(this.id);\">"
					+ "</td></tr>"
		}
		document.getElementById("experimentlist").innerHTML = document.getElementById("experimentlist").innerHTML
		+ "</table>";
	}

	function newsampleForProject() {
		
		var ent = document.getElementById("samplename").value;
		var ent2 = document.getElementById("sampledescription").value;
		var id = document.getElementById("ProjectID").value;
		var sample = '{"name":"' + ent + '", "description" : "' + ent2 + '" }';
		console.log(sample);
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				listsample();
			}
		};
		xhttp.open("POST", "http://localhost:8082/addSampleToProject/"+id, true);
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send(sample);		
		
		
	}

	function filterlistexperiment() {
		var xhttp = new XMLHttpRequest();
		var name = document.getElementById("experimentname").value;

		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
			console.log(this.responseText);
				var experiments = JSON.parse(this.responseText);	
				document.getElementById("filterexperimentlisttable").innerHTML = "";
				filterexperimenttotable(experiments);
	
			}
		};
		xhttp.open("POST", "http://localhost:8082/filterExperimentList/" );
		xhttp.setRequestHeader("Content-type", "application/json");

		xhttp.send(name);

	}
	function filterexperimenttotable (experiments) {
		var id = document.getElementById("ProjectID").value;
		document.getElementById("filterexperimentlisttable").innerHTML = document.getElementById("filterexperimentlisttable").innerHTML
		+ "<Table><tr><th>ID</th><th>Name</th><th>Description</th><th>Project ID</th></tr>";
		for (i = 0; i < experiments.length; i++) {			
			document.getElementById("filterexperimentlisttable").innerHTML = document.getElementById("filterexperimentlisttable").innerHTML

					+ "<tr><td>"
					+ experiments[i][0]
					+ "</td><td>"
					+  experiments[i][1]
					+ "</td><td>"
					+  experiments[i][2]
					+ "</td><td>"
					+  experiments[i][3].id;
					+ "</td></tr>"
		}
		document.getElementById("filterexperimentlisttable").innerHTML = document.getElementById("filterexperimentlisttable").innerHTML
		+ "</table>";
	}
	function ProjectFilterExperiment() {
		var xhttp = new XMLHttpRequest();
		var id = document.getElementById("deletefield").value;
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				document.getElementById("projectfilterexperimentlisttable").innerHTML = "";
			console.log(this.responseText);
				var experiments = JSON.parse(this.responseText);									
				projectfilterExperimentlisttotable(experiments);
			}
		};
		xhttp.open("POST", "http://localhost:8082/projectFilterExperimentList/" );
		xhttp.setRequestHeader("Content-type", "application/json");

		xhttp.send(id);

	}
	function projectfilterExperimentlisttotable (experiments) {
		var id = document.getElementById("ProjectID").value;
		document.getElementById("projectfilterexperimentlisttable").innerHTML = document.getElementById("projectfilterexperimentlisttable").innerHTML
		+ "<Table><tr><th>ID</th><th>Name</th><th>Description</th><th>Project ID</th></tr>";
		for (i = 0; i < experiments.length; i++) {			
			document.getElementById("projectfilterexperimentlisttable").innerHTML = document.getElementById("projectfilterexperimentlisttable").innerHTML

					+ "<tr><td>"
					+ experiments[i][0]
					+ "</td><td>"
					+  experiments[i][1]
					+ "</td><td>"
					+  experiments[i][2]
					+ "</td><td>"
					+  experiments[i][3].id;
					+ "</td></tr>"
		}
		document.getElementById("projectfilterexperimentlisttable").innerHTML = document.getElementById("projectfilterexperimentlisttable").innerHTML
		+ "</table>";
	}
	function projectfilterlistsample() {
		var xhttp = new XMLHttpRequest();

		var id = document.getElementById("deletefield").value;

		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				document.getElementById("projectfiltersamplelisttable").innerHTML = "";
			console.log(this.responseText);
				var samples = JSON.parse(this.responseText);									
				projectfilterlisttotable(samples);
			}
		};
		xhttp.open("POST", "http://localhost:8082/projectfiltersamplelist/" );
		xhttp.setRequestHeader("Content-type", "application/json");

		xhttp.send(id);

	}
	function projectfilterlisttotable (samples) {
		var id = document.getElementById("ProjectID").value;
		document.getElementById("projectfiltersamplelisttable").innerHTML = document.getElementById("projectfiltersamplelisttable").innerHTML
		+ "<Table><tr><th>ID</th><th>Name</th><th>Description</th><th>Project ID</th></tr>";
		for (i = 0; i < samples.length; i++) {			
			document.getElementById("projectfiltersamplelisttable").innerHTML = document.getElementById("projectfiltersamplelisttable").innerHTML

					+ "<tr><td>"
					+ samples[i][0]
					+ "</td><td>"
					+  samples[i][1]
					+ "</td><td>"
					+  samples[i][2]
					+ "</td><td>"
					+  samples[i][3].id;
					+ "</td></tr>"
		}
		document.getElementById("projectfiltersamplelisttable").innerHTML = document.getElementById("projectfiltersamplelisttable").innerHTML
		+ "</table>";
	}
	function filterlistsample() {
		var xhttp = new XMLHttpRequest();

		var name = document.getElementById("samplename").value;

		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
			console.log(this.responseText);
				var samples = JSON.parse(this.responseText);	
				document.getElementById("filtersamplelisttable").innerHTML = "";
				filterlisttotable(samples);
	
			}
		};
		xhttp.open("POST", "http://localhost:8082/filtersamplelist/" );
		xhttp.setRequestHeader("Content-type", "application/json");

		xhttp.send(name);

	}
	function filterlisttotable (samples) {
		var id = document.getElementById("ProjectID").value;
		document.getElementById("filtersamplelisttable").innerHTML = document.getElementById("filtersamplelisttable").innerHTML
		+ "<Table><tr><th>ID</th><th>Name</th><th>Description</th><th>Project ID</th></tr>";
		for (i = 0; i < samples.length; i++) {			
			document.getElementById("filtersamplelisttable").innerHTML = document.getElementById("filtersamplelisttable").innerHTML

					+ "<tr><td>"
					+ samples[i][0]
					+ "</td><td>"
					+  samples[i][1]
					+ "</td><td>"
					+  samples[i][2]
					+ "</td><td>"
					+  samples[i][3].id;
					+ "</td></tr>"
		}
		document.getElementById("filtersamplelisttable").innerHTML = document.getElementById("filtersamplelisttable").innerHTML
		+ "</table>";
	}
	function listsample() {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
			document.getElementById("samplelist").innerHTML = "";
			console.log(this.responseText);
				var samples = JSON.parse(this.responseText);
				listtotable(samples);
			}
		};
		xhttp.open("GET", "http://localhost:8082/samplelist");
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send();
	}
	function listtotable (samples) {
		document.getElementById("samplelist").innerHTML = document.getElementById("samplelist").innerHTML
		+ "<Table><tr><th>ID</th><th>Name</th><th>Description</th><th>Project ID</th><th></th></tr>";
		for (i = 0; i < samples.length; i++) {
			document.getElementById("samplelist").innerHTML = document.getElementById("samplelist").innerHTML
					+ "<tr><td>"
					+ samples[i].id
					+ "</td><td>"
					+ samples[i].name
					+ "</td><td>"
					+ samples[i].description
					+ "</td><td>"
					+ samples[i].project.id
					+ "</td><td>"
				
					+ "<input id='"+samples[i].id+"' type='radio' name='samplelistselector' onclick=\"handleSampleClick(this.id);\">"
					+ "</td></tr>"
		}
		document.getElementById("samplelist").innerHTML = document.getElementById("samplelist").innerHTML
		+ "</table>";
	}
	

	function getOneProject() {
		var xhttp = new XMLHttpRequest();
		var id = document.getElementById("ProjectID").value;
		alert (id);
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
			//console.log(this.responseText);
			var project = JSON.parse(this.responseText);
			alert (project.name)
			}
		};
		xhttp.open("GET", "http://localhost:8082/findProject/" + id);
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send();
	}
	
	function list() {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				document.getElementById("list").innerHTML = "";
				console.log(this.responseText);
				var projects = JSON.parse(this.responseText);
				uittekenen(projects);
			}
		};
		xhttp.open("GET", "http://localhost:8082/projectlist");
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send();
	}
	function uittekenen(projects) {
		document.getElementById("list").innerHTML += "<Table><tr><th>ID</th><th>Name</th><th>Comment</th></tr>";
		for (i = 0; i < projects.length; i++) {
			document.getElementById("list").innerHTML += "<tr><td>"
					+ projects[i].id
					+ "</td><td>"
					+ projects[i].name
					+ "</td><td>"
					+ projects[i].comment
					+ "</td><td>"
					+ "<input id='"+projects[i].id+"' type='radio' name='selector' onclick=\"handleClick(this.id);\">"
					+ "</td></tr>";
		}
		document.getElementById("list").innerHTML += "</table>";
	}
	
	function handleClick(idpass) {
		document.getElementById("deletefield").value = idpass;
		document.getElementById("ProjectID").value = idpass;
		document.getElementById("ProjectID2").value = idpass;
		
	}
	function handleSampleClick(idpass) {
		document.getElementById("deleteSamplefield").value = idpass;
	
		
	}
	function handleExperimentClick(idpass) {
		document.getElementById("deleteExamplefield").value = idpass;
	
		
	}
		
	function verstuur() {
		var ent = document.getElementById("projectname").value;
		var ent2 = document.getElementById("projectcomment").value;
		var project = '{"name":"' + ent + '", "comment" : "' + ent2 + '"}';
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				list();
				
			}
		};
		xhttp.open("POST", "http://localhost:8082/projectpost", true);
		xhttp.setRequestHeader("Content-type", "application/json");

		xhttp.send(project);
	
	}
	
	function deleter() {
		var xhttp = new XMLHttpRequest();
		var id = document.getElementById("deletefield").value;
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
			list();
			}
		};
		xhttp.open("DELETE", "http://localhost:8082/project/" + id, true);
		xhttp.send();
	}
	function Sampledeleter() {
		var xhttp = new XMLHttpRequest();
		var id = document.getElementById("deleteSamplefield").value;
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
			listsample();
			}
		};
		xhttp.open("DELETE", "http://localhost:8082/sample/" + id, true);
		xhttp.send();
	}
	function Experimentdeleter() {
		var xhttp = new XMLHttpRequest();
		var id = document.getElementById("deleteExamplefield").value;
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				listexperiment();
			}
		};
		xhttp.open("DELETE", "http://localhost:8082/experiment/" + id, true);
		xhttp.send();
	}
	
	list();
	listsample();
	listexperiment();
</script>

<style>
div.container {
	width: 100%;
	border: 1px solid gray;
}
header, footer {
	padding: 1em;
	color: white;
	background-color: black;
	clear: left;
	text-align: center;
}
nav {
	float: left;
	max-width: 160px;
	margin: 0;
	padding: 1em;
}
nav ul {
	list-style-type: none;
	padding: 0;
}
nav ul a {
	text-decoration: none;
}
article {
	margin-left: 170px;
	border-left: 1px solid gray;
	padding: 1em;
	overflow: hidden;
}


</style>

</head>
<body>

	<div class="container">

		<header id="TOP">
			<h1>Lab Journal</h1>
		</header>

		<nav>
			<ul >
				<li><a href="#">Example</a></li>
				<li><a href="#">Demo</a></li>
				<li><a href="#">Test</a></li>
			</ul>
			
			<table id="navigationlist" border=1></table>
			
		</nav>

		<article>
			<h1>My First Buttons</h1>

			<table>
				<tr>
					<td>Name:</td>
					<td><input type="text" id="projectname" name="Name" 	value="projectname"></td>
				<tr>
					<td>Comment:</td>
					<td><input type="text" id="projectcomment" name="Comment" value="comments" size="100"></td>
			</table>
			<br>
			<button type="button" id="buttoninput" onclick="verstuur()">Create new Project</button>
			<button type="button" id="try" onclick="list()">show list</button>
			<input type="text" id="deletefield" name="DeleteById" value="select project" disabled size="15">
			<button type="button" id="deletebutton" onclick="deleter()">delete</button>
			<table id="list" border=1></table>
			<br><hr><br>
		<table width: 100%>	<tr><td>
			<table>
				<tr>
					<td>Name:</td>
					<td><input type="text" id="samplename" name="Name"	value="samplename"></td></tr>
				<tr>
					<td>Comment:</td>
					<td><input type="text" id="sampledescription" name="Description" value="description" size="15"></td></tr>
				<tr>		<td>Project:</td>
					<td><input type="text" id="ProjectID" name="ProjectID" value="select project" size="15" disabled></td></tr>
					<tr><td>Select Sample:</td>
					<td><input type="text" id="deleteSamplefield" name="DeleteById" value="select project" disabled size="15"></td></tr>
			</table>
			<br>	
			<button type="button" id="newsampleforproject" onclick="newsampleForProject() ">Add sample to selected Project</button>
			<button type="button" id="projectfiltersamplelist" onclick="projectfilterlistsample()">Find samples in Project</button>
			<button type="button" id="filtersamplelist" onclick="filterlistsample()">Find samples with name</button>
			<button type="button" id="deletebutton" onclick="Sampledeleter()">delete sample</button>
			<table id="samplelist" border=1></table>
			<table id="filtersamplelisttable" border=1></table>
			<table id="projectfiltersamplelisttable" border=1></table></td>
	
	<td><table>
				<tr>
					<td>Name:</td>
					<td><input type="text" id="experimentname" name="Name"	value="experimentname"></td></tr>
				<tr>	<td>Description:</td>
					<td><input type="text" id="experimentdescription" name="Description" value="description" size="15"></td></tr>
				
				<tr>
					<td>Project:</td>
					<td><input type="text" id="ProjectID2" name="ProjectID" value="select project" size="15" disabled></td></tr>
					<tr><td>Select Experiment:</td>
					<td><input type="text" id="deleteExamplefield" name="DeleteById" value="select experiment" disabled size="15"></td></tr>
					
			</table>
			<br>
			<button type="button" id="newsampleforproject" onclick="newsExperimentForProject()">Add experiment to selected Project</button>
			<button type="button" id="projectfilterexperimentlist" onclick="ProjectFilterExperiment()">Find samples in Project</button>
			<button type="button" id="filterexperimentlist" onclick="filterlistexperiment()">Find examples with name</button>
			<button type="button" id="experimentdeletebutton" onclick="Experimentdeleter()">delete experiment</button>
		<table id="experimentlist" border=1></table>
		<table id="projectfilterexperimentlisttable" border=1></table>
		<table id="filterexperimentlisttable" border=1></table></td></tr>
		<tr><td><hr>
		<table>
				<tr>
					<td>Name:</td>
					<td><input type="text" id="SubSampleName" name="Name" 	value="subsample name"></td></tr>
				<tr><td>Description:</td>
					<td><input type="text" id="SubSampleDescription" name="SubSampleDescription" value="subsample description" size="15"></td></tr>
				<tr><td>Danger:</td>
					<td><input type="text" id="danger" name="danger" value="none" size="15"></td></tr>
				</table>
				<br>
			<button type="button" id="newSubSample" onclick="newSubSampleForSample()">Add new Subsample to selcted sample</button>
		
		</td></tr></table>
		</article>

		<footer>Program by Orsi & Steven</footer>

	</div>


</body>
</html>
