
<html>
<head>
<link rel="stylesheet" type="text/css" href="LabJournal.css">
<script type="text/javascript" src="LabJournal.js"></script>
<script type="text/javascript" src="Project.js"></script>
<script>
window.onload = function() {

	genericIdPass(getQueryVariable("id"), "ProjectID")
};
</script>



<title>Dit is een nieuwe pagina</title>
</head>
<body>


	<div class="container">

		<header id="TOP" onload='console.log(getQueryVariable("id"));'>
	<br>
			<h1  >Lab Journal</h1>
		</header>

		<nav>
			<ul id="navlist">
			</ul>
						
		</nav>

		<article>
			<h2>My First Buttons</h2>
	
			<button type="button" id="NewProjectCreator" onclick='genericIdPass(getQueryVariable("id"), "ProjectID")'>Get number</button>
		
		<input type="text" id="ProjectID" name="ProjectID" value="select project" disabled size="15">
			
		</article>

		<footer><h3><br>Program by Orsi & Steven</h3></footer>

	</div>


</body>
</html>
