
<html>
<head>
<link rel="stylesheet" type="text/css" href="LabJournal.css">
<script type="text/javascript" src="LabJournal.js"></script>
<script type="text/javascript" src="Project.js"></script>
<script>
window.onload = function() {

	genericIdPass(getQueryVariable("id"), "ProjectID");
	GetTheProject();
	FindSampleByProject2();
};
</script>



<title>Dit is een nieuwe pagina</title>
</head>
<body>


	<div class="container">

		<header id="TOP" onload='console.log(getQueryVariable("id"));'>
	<br>
			<h1  >Lab Journal</h1>
		</header>

		<nav>
			<ul id="navlist">
			</ul>
						
		</nav>

		<article>
			<button type="button" id="NewProjectCreator" onclick='GetTheProject()'>Test Button</button>
			<input type="text" id="ProjectID" name="ProjectID" value="select project" disabled size="15">
	
			<h2>Project: <label id="ProjectName"></label></h2>	
			<h4>Comment: </h4><p id="ProjectComment"></p>
		<table>
			<tr>
				<td>	
					<input type="text" id="SampleID" name="ProjectID" value="select project" disabled size="15">
					<table id="SamplesByProjectTable" border=1 class="table1"></table>	
				</td>
				<td>
				</td>
			</tr>	
		</table>	
	
		</article>

		<footer><h3><br>Program by Orsi & Steven</h3></footer>

	</div>


</body>
</html>
