
<html>
<head>

<script src="jquery-3.2.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="LabJournal.css">
<script type="text/javascript" src="LabJournal.js"></script>

<script>
window.onload = function loadPage() {
	dataLoader();
	hideButton();
};

// jquery example
$(document).ready(function(){
    $("#navitem").click(function(){
        $(location).attr('href', 'Project.html')
    });
});

</script>
<style>
  .ui-autocomplete-loading {
    background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
  }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    function log( message ) {
      $( "<div>" ).text( message ).prependTo( "#log" );
      $( "#log" ).scrollTop( 0 );
    }
 
    $( "#birds" ).autocomplete({
      source: "http://localhost:8082/samplelist",
      minLength: 2,
      select: function( event, ui ) {
        log( "Selected: " + ui.item.name + " aka " + ui.item.id );
      }
    });
  } );
  </script>
</head>
<body>


	<div class="container">

		<header id="TOP" >
	<br>
			<h1  >Lab Journal</h1>
		</header>

		<nav>
		
			<p id="navitem">HOME</p>
			
			<ul id="navlist">
			</ul>
						
		</nav>

		<article>
			<h2>My First Buttons</h2>
	<table > <tr><td>
			<button type="button" id="NewProjectCreator" onclick="AddNewProject()">Create new Project</button>
			<br><br>
				Name:	<input type="text" id="projectname" name="Name"	value="projectname">
				<table><tr>
					<td>Comment:</td></tr>
					<tr><td><textarea rows="4" cols="45" id="projectcomment" name="Comment" placeholder="comments" size="15"></textarea></td></tr>
			</table>
			<br>
			<button type="button" id="ModifyProject" onclick="GetOneProject()">Modify Project</button>
			<input type="text" id="deletefield" name="DeleteById" value="select project" disabled size="15">
			<button type="button" id="ProjectDeleteButton" onclick="ProjectDeleter()">delete</button><br>
			<table id="list" class="table1" border=1></table> </td>
			<td >
			<div id="UpdateProject" align="center" valign="middle"><table >
				<tr>
					<td>Name:</td>
					<td><input type="text" id="projectnameChange" name="Name"	value="NewProjectname"></td>
				<tr>
					<td>Comment:</td>
					<td><textarea rows="10" cols="30"  type="text" id="projectcommentChange" name="Comment" value="NewComments" size="15"></textarea></td>
			</table>
			<button type="button" id="UpdateProjectButton" onclick="UpdateProject()" >Update Project</button>
			<button type="button" id="CancelProjectUpdate" onclick="CancelProjectUpdate()">Cancel</button></div>
			</td></tr></table>
			<br>
			<hr >
			<br>
			<table width= 100%>
				<tr><td style="vertical-align:top">					
						<button type="button" id="filterSamplesListTable" onclick="FindSampleByName()">Find samples with name</button>
						<input type="text" id="samplename2" name="Name"	value="samplename"><br><br>			
						<table id="filterSamplesListTabletable" border=1 class="table1"></table>
					</td>
					<td class ="toright" style="vertical-align:top">				
						<button type="button" id="filterexperimentlist" onclick="FindExperimentByName()">Find experiment by name</button>
						<input type="text" id="ExperimentName2" name="ExperimentName"	value="ExperimentName">
						<br><br>		
						<table id="ExperimentByNameTable" border=2 class="table1"> </table>
					</td>
				</tr>
		</table> 
		<div class="ui-widget">
  	<label for="birds">Search: </label>
  	<input id="birds">
	</div> 
	<div class="ui-widget" style="margin-top:2em; font-family:Arial">
 	 Result:
  	<div id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>
	</div>
		</article>

		<footer><h3><br>Program by Orsi & Steven</h3></footer>

	</div>


</body>
</html>
