/* W3.CSS 4.05 October 2017 by Jan Egil and Borge Refsnes */

/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
body{margin:0}
menu{display:block}



w3-container,.w3-panel{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}
.w3-hoverable tbody tr:hover,.w3-ul.w3-hoverable li:hover{background-color:#25638a}
.w3-ul{list-style-type:none;padding:0;margin:0}

.w3-ul li{
	padding:8px 16px;
	border-bottom:1px solid #66bef2;
	 background: #25638a;
  	background-image: -webkit-linear-gradient(top, #25638a, #66bef2);
  	background-image: -moz-linear-gradient(top, #25638a, #66bef2);
 	 background-image: -ms-linear-gradient(top, #25638a, #66bef2);
  	background-image: -o-linear-gradient(top, #25638a, #66bef2);
  	background-image: linear-gradient(to bottom, #25638a, #66bef2);
  	color: white;
  	font-family: Georgia;
}
.w3-ul li:hover {
  background: #107d7d;
  background-image: -webkit-linear-gradient(top, #107d7d, #5acedb);
  background-image: -moz-linear-gradient(top, #107d7d, #5acedb);
  background-image: -ms-linear-gradient(top, #107d7d, #5acedb);
  background-image: -o-linear-gradient(top, #107d7d, #5acedb);
  background-image: linear-gradient(to bottom, #107d7d, #5acedb);
  text-decoration: none;
}

.w3-ul li:last-child{border-bottom:none}



html{overflow-x:hidden}



